$orange: #FF8832;
$almost-black: #333;
$dark-grey: #6c6c6c;
$light-grey: #f7f7f7;
$medium-grey: #e4e4e4;
$light-orange: #FFAC70;
$dark-orange: #CF6E28;
$dark-red: #8b4441;
$bright-red: #E06666;
$dark-brown: #827f62;
