.side-navbar {
  height: 50em;
  width: 5.5em;
  background: #222;
  .glyphicon {
    font-size: 2.2em;
    color: white;
    margin-top: .7em;
    width: 100%;
  }
}
.profile-info {

}

.container-fluid {
  padding-left: 0;
  height: 100%;
}
.move-down {
  margin-top: 70%;
}
